@charset "utf-8";

/*! block njdaily/base.css */
html{color:#8c8c8c;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}body,button,input,select,textarea{font:12px/1.5 tahoma,arial,"Hiragino Sans GB",\5b8b\4f53}input,select,textarea{font-size:100%}table{border-collapse:collapse;border-spacing:0}th{text-align:inherit}fieldset,img{border:0}iframe{display:block}abbr,acronym{border:0;font-variant:normal}del{text-decoration:line-through}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}q:before,q:after{content:''}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}a{color:#8c8c8c}a:hover{color:#b50800;text-decoration:underline}ins,a{text-decoration:none}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}.f-cb:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.f-cb{zoom:1}.f-dn{display:none}.f-ib{display:inline-block;*display:inline;*zoom:1}.f-db{display:block}.f-fl,.f-fr{display:inline}.f-fl{float:left}.f-fr{float:right}.f-pr{position:relative}.f-prz{position:relative;zoom:1}.f-pa{position:absolute}.f-mt0{margin-top:0!important}.f-mb0{margin-bottom:0!important}.f-pt0{padding-top:0!important}.f-pb0{padding-bottom:0!important}.f-oh{overflow:hidden}.f-ff0{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53}.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,\9ed1\4f53,arial,\5b8b\4f53}.f-fs12{font-size:12px}.f-fs14{font-size:14px}.f-fwn{font-weight:normal}.f-fwb{font-weight:bold}.f-tal{text-align:left}.f-tac{text-align:center}.f-tar{text-align:right}.f-taj{text-align:justify;text-justify:inter-ideograph}.f-vam,.f-vama *{vertical-align:middle}.f-wsn{word-wrap:normal;white-space:nowrap}.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all}.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all}.f-ti{overflow:hidden;text-indent:-30000px}.f-ti2{text-indent:2em}.f-lhn{line-height:normal}.f-tdu,.f-tdu:hover{text-decoration:underline}.f-tdn,.f-tdn:hover{text-decoration:none}.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis}.f-csp{cursor:pointer}.f-csd{cursor:default}.f-csh{cursor:help}.f-csm{cursor:move}.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}.f-linear{background:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#ccc));background:-moz-linear-gradient(top,#fcfcfc,#ccc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#cccccc');background:-o-linear-gradient(top,#fcfcfc,#ccc);background:-ms-linear-gradient(top,#fcfcfc,#ccc);background:linear-gradient(top,#fcfcfc,#ccc)}.f-linear-light{background:-webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#eee));background:-moz-linear-gradient(top,#fcfcfc,#eee);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#eeeeee');background:-o-linear-gradient(top,#fcfcfc,#eee);background:-ms-linear-gradient(top,#fcfcfc,#eee);background:linear-gradient(top,#fcfcfc,#eee)}

html{background-color:#e9e5e0;}
.footer{padding:6px 12px 12px;color:#999;line-height:1.5em;margin-top:2em;font-size:12px;border-top:1px solid #8c8c8c;background-color:#e3e3e3;}

#section-index{padding-bottom:20px;}
#section-index .logo{width:320px;height:290px;margin:9px auto 0;}
#section-index .startbtn{margin-top:190px;}
#section-index .startbtn li{width:255px;height:85px;background:url(start.jpg) no-repeat;margin:12px auto 0;cursor:pointer}
#section-index .index-rewards-link{color:#fff;display:block;width:100%;height:100%;}

#section-info{background-color:#fff;font-size:20px;color:#999;margin:0 auto;box-shadow:0 1px 6px #999;position:fixed;top:0;width:100%;z-index:99;}
#section-info .progress-bar{width:100%;height:4px;}
#section-info .progress-bar .step{height:4px;background-color:#8c8c8c;width:0%;transition:all ease-out 0.75s;-webkit-transition:all ease-out 0.75s;}
#section-info .progress-info{padding:4px 16px 0;}

#section-timu{width:90%;padding:0 0 50px;margin:0 auto;margin-top:30px;}
#section-timu h2{font-size:1.5em;}
#section-timu .daan-btn{margin-top:20px;}
#section-timu .daan-btn li{width:90%;height:auto;background:#8c8c8c;border-radius:15px; margin:12px auto 0;line-height:36px;padding:10px 0; font-size:24px; text-align:center; color:#fff;cursor:pointer;}

#section-result{padding-bottom:60px;}
#section-result .icon{margin:0 auto;padding-bottom:16px;margin-top:50px;display:none;}
#section-result .icon .img{width:110px;text-align:center;margin:0 auto;}
#section-result .icon .img img{width:110px;}
#section-result .icon .img.gif{width:150px;text-align:center;margin:0 auto;}
#section-result .icon .img.gif img{width:150px;}
.icon-6,.icon-7,.icon-8,.icon-9,.icon-10,.icon-11,.icon-12,.icon-13,.icon-14,.icon-15{background-color:#fff;}
#section-result .icon .text{font-size:1.6em;text-align:center;padding-top:30px;}
#section-result .result-right .text{color:#8c8c8c;}
#section-result .result-wrong .text{color:#611700;}
#section-result .extra-des{color:#ff6d6d;width:80%;margin:20px auto 30px;font-size:1.6em;text-align:center;display:none;background-color:#fff;box-shadow:3px 3px 6px #ccc;padding:16px;}
#section-result .result-des{width:80%;color:#666;margin:20px auto 30px;background-color:#fff;box-shadow:3px 3px 6px #ccc;padding:16px;}
#section-result .result-des h3{font-size:1.5em;}
#btn-next{width:218px;height:52px;background:#8c8c8c;border-radius:20px;margin:15px auto 0;line-height:52px;font-size:24px;text-align:center;color:#fff;cursor:pointer;}
#btn-cancel{width:218px;height:52px;background:#ff6d6d;border-radius:60px;margin:15px auto 0;line-height:52px;font-size:24px;text-align:center;color:#fff;cursor:pointer;display:none;}

#section-score{padding-bottom:50px;margin-top:40px;}
#section-score .words{padding:20px 0;text-align:center;color:#ff6d6d;font-size:1.5em;}
#section-score .defen_info{width:86%; height:130px; background:#fff; margin:20px auto;position:relative; text-align:center; padding-top:10px;}
#section-score .defen_info .zftips{display:none;width:80px;height:100px;font-size:12px;position:absolute; left:-10px; top:-10px; color:#ff6d6d;-webkit-transform: rotate(-27deg);-moz-transform: rotate(-27deg);}
#section-score .defen_info .zftips b{display:block; font-size:26px; line-height:26px;}
#section-score .defen_info .zongfen{color:#666666;font-weight:bold;font-size:35px;line-height:60px;}
#section-score .defen_info .zongfen span{color:#ff6d6d}
#section-score .defen_tips{line-height:18px;color:#666; text-align:left; padding:20px 7%;}
#section-score .defen_tips b{color:#ff6d6d;}
#section-score .defen_btn{height:400px;overflow:hidden;}
#section-score .defen_btn li{width:218px;height:52px;background:#8c8c8c;border-radius:60px; margin:12px auto 0;line-height:52px; font-size:24px; text-align:center; color:#fff; cursor:pointer}
#section-score .defen_btn1 li{width:218px;height:52px;background:#8c8c8c;border-radius:60px; margin:12px auto 0;line-height:52px; font-size:24px; text-align:center; color:#fff; cursor:pointer}

#section-score .userinfo-form{width:86%;height:400px;background:#fff;margin:20px auto;font-size:1.5em;margin-top:-400px;}
#section-score .userinfo-form .form{padding:20px;}
#section-score .userinfo-form h2{color:#8c8c8c;font-size:1.6em;line-height:1.5em;border-bottom:1px solid #8c8c8c;margin-bottom:16px;}
#section-score .userinfo-form .input-text{width:150px;border:1px solid #ccc;box-shadow:1px 1px 1px #eee;padding:3px 5px;}
#section-score .userinfo-form .items .item{padding:6px 0;}
#section-score .userinfo-form .score-links{width:220px;margin:20px auto 0;}
#section-score .userinfo-form .score-link{height:40px;width:100px;display:block;background-color:#8c8c8c;color:#fff;line-height:40px;text-align:center;}
#section-score .userinfo-form .score-link:hover{text-decoration:none;}

#section-board{padding:30px 0 50px;}
#section-board .board-content{width:86%;margin:0 auto;}
#section-board .label{height:40px;}
#section-board .label .label-title{height:40px;line-height:50px;font-size:1.6em;text-align:center;width:50%;background-color:#fff;color:#ff6d6d;font-weight:bold;border-right:2px solid #ccc;}
#section-board .label .home a{display:block;height:40px;/*background:url(home.png) #fff 12px 6px no-repeat;*/color:#8c8c8c;font-size:1.6em;line-height:40px;padding:0 20px;font-weight:bold;}
#section-board .label .home a:hover{text-decoration:none;color:#ff6d6d;}
#section-board .board-table{padding:16px 20px 20px;background-color:#fff;box-shadow:3px 3px 5px #999;}
#section-board .board-table table{width:100%;line-height:2.4em;}
#section-board .board-table table th{font-size:1.4em;color:#8c8c8c;text-align:center;}
#section-board .board-table table td{font-size:1em;color:#666;text-align:center;}
#section-board .board-table table tr.my{background-color:#8c8c8c;}
#section-board .board-table table tr.my td{color:#fff;}
#section-board .board-info{padding:20px 0;color:#999;font-size:1.5em;}
#section-board .board-info span{padding:0 6px;color:#ff6d6d;font-size:1.8em;}

#section-rewards .title{padding:24px 0 12px;}
#section-rewards .title h3{font-size:24px;color:#8c8c8c;padding-left:18px;}
#section-rewards .title a{display:block;height:40px;color:#8c8c8c;font-size:16px;line-height:40px;padding:0 20px;font-weight:bold;}
#section-rewards .title a:hover{text-decoration:none;color:#ff6d6d;}
#section-rewards .label{border-top:1px solid #8c8c8c;padding:14px;margin-top:20px;text-align:center;font-size:20px;}
#section-rewards ul{padding:12px 20px;}
#section-rewards ul li{padding:4px 12px;font-size:14px;color:#999;border-bottom:1px dotted #ccc;}
#section-rewards .des{padding:0 20px;color:#8c8c8c;}

#section-submit .info{width:86%;margin:40px auto;font-size:2em;color:#f7193c;font-weight:bold;text-align:center;}
#section-submit ul li{width:218px;height:52px;background:#8c8c8c;border-radius:60px; margin:12px auto 0;line-height:52px; font-size:24px; text-align:center; color:#fff; cursor:pointer;}

#mask{width:100%;height:700px;background:rgba(0,0,0,.7);position:absolute;top:0;left:0;z-index:998;display:none;}
#formError{position:fixed;display:none;width:100%;background-color:#fff;box-shadow:4px 4px 8px #000;top:-100%;z-index:999;border-radius:0 0 40px 40px;}
#formError .msg{text-align:center;padding:40px 20px;color:#ff6d6d;font-weight:bold;font-size:1.6em;line-height:1.6em;}
#formError .close{color:#fff;height:60px;background:url(close.png) #ff6d6d center 0 no-repeat;text-indent:-999em;border-radius:0 0 40px 40px;}

#gameRules{position:fixed;display:none;width:100%;background-color:#fff;box-shadow:4px 4px 8px #000;top:-100%;z-index:999;border-radius:0 0 40px 40px;}
#gameRules .rules{padding:20px;color:#8c8c8c;font-size:1.2em;line-height:1.6em;}
#gameRules .rules h3{font-size:1.4em;}
#gameRules .close{color:#fff;height:60px;background:url(close.png) #8c8c8c center 0 no-repeat;text-indent:-999em;border-radius:0 0 40px 40px;}

.btn-zp-line{padding-top:16px;display:none;}
#btn-zp{padding:12px 30px;background-color:#FF6D6D;color:#fff;line-height:50px;text-align:center;font-size:20px;}
#btn-zp:hover{text-decoration:none;background-color:#FC9494;}
