@charset "utf-8";

html{padding-top:0;}

#foot {
	width:450px;
	position:static;
	margin:0 auto;
}
#center {
    width:450px;
    height:500px;
	padding-top:150px;
    background-repeat:no-repeat;
	background-image:url(../images/nm.jpg);
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    margin:0 auto;
	position:relative;
}
#disk {
    width:300px;
	height:300px;
    margin:0 auto;background:url(../images/pc_disk.png) no-repeat;
}

#disk img {
    width:100%;
}
#startbtn {
    position:absolute;
    width:99px;
    left:129px;
    top:65px;
    z-index:20;
}
#startbtn img {
    width:100%;
}
#start1 {
    position:absolute;
    width:85px;
    left:136px;
    top:137px;
    z-index:20;
}
#start1 img {
    width:100%;
    cursor:pointer
}

#mask{width:100%;height:100%;background-color:#000;opacity:0.7;filter:alpha(opacity=70);position:fixed;top:0;left:0;z-index:998;display:none;}
#rewards-list{position:fixed;width:100%;*width:600px;margin:0 auto;background-color:#fff;box-shadow:4px 4px 8px #000;top:-100%;z-index:999;border-radius:0 0 40px 40px;}
#rewards-list .msg{text-align:center;padding:10px 20px 0;color:#ff6d6d;font-weight:bold;font-size:1.6em;line-height:1.6em;}
#rewards-list .close{color:#fff;height:80px;background:url(../../images/close.png) #ff6d6d center 10px no-repeat;text-indent:-999em;border-radius:0 0 40px 40px;}
#rewards-intro{position:fixed;width:100%;*width:600px;margin:0 auto;background-color:#fff;box-shadow:4px 4px 8px #000;top:-100%;z-index:999;border-radius:0 0 40px 40px;}
#rewards-intro .msg{text-align:center;padding:10px 20px 0;color:#b11029;font-weight:bold;font-size:1.6em;line-height:1.6em;}
#rewards-intro .close{color:#fff;height:80px;background:url(../../images/close.png) #b11029 center 10px no-repeat;text-indent:-999em;border-radius:0 0 40px 40px;}


.demo{width:300px; height:300px; position:relative; overflow:hidden; margin:auto auto;top:0%;}
#disk{position:absolute; left:0; top:0; z-index:1}
#disktop{width:71px; height:71px; background:url(../images/disktop.gif) no-repeat; position:absolute; left:112px; top:114px; z-index:3}
#start{width:140px; height:140px; position:absolute; top:33px; left:95px; z-index:2}
#start img{cursor:pointer}
#startbtn{ left:0; top:0; width:99px}